@use './variables' as *;

.blog-header{
    background-image: url(./../../../assets/blog-image-1.jpg);
}

.blog-sections{
    background-color: $quaternary;
    padding: 110px 0;
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        section{
            padding: 25px;
            background-color: #fff;
            margin-bottom: 20px;
        }
        .left-box{
            width: 30%;
        }

        .right-box{
            width: 67%;
        }

        ul{
            list-style: disc;
            p{
                margin: 0;
            }
        }
    }
}