@use './variables' as *;

.blog-header{
    background-image: url(./../assets/blog-image-1.jpg);
    height: 65vh;
    .wrapper{
        display: flex;
        align-items: flex-end;
        height: 100%;
    }
    h1{
        margin: 0;
        position: relative;
        top: 16px;
    }
}

.blog-sections{
    background-color: $quaternary;
    padding: 110px 0;
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        section,
        .blog-comment{
            padding: 30px;
        }
        .left-box{
            width: 30%;
            section{
                background-color: #fff;
            }
        }

        .right-box{
            width: 67%;
        }
        .comments {
            padding: 0;
        }
        
        .blog-post,
        .blog-comment2 {
            border-bottom: $tertiary 4px solid;
        }
        
        .blog-comment,
        .blog-post {
            margin-bottom: 20px;
            background-color: #fff;
        }
        
        .blog-comment {
            display: flex;
        }

        ul{
            list-style: disc;
            p{
                margin: 0;
            }
        }
    }
}