@use './variables' as *;

.contact-header{
    background-image: url(./../assets/contact-image-1.jpg);
}

.contact-sections{
    section {
        padding: 25px;
    }

    ul{
        display: flex;
        padding: 0;
        width: 100%;
    }

    li{
        flex-basis: 10%;
        margin-right: 30px;

        img{
            object-fit: contain;
        }
    }

    section{
        display: flex;
        flex-wrap: wrap;
        p{
            flex-basis: 100%;
            margin: 0;
        }
        a{
            margin-bottom: 10px;
        }
    }
}   