@use './variables' as *;

.index-header{
    background-color: $primary;
    padding-top: 20px;

    .wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;

        div{
            flex-basis: 49%;
            position: flex;
        }

        h1{
            display: inline-block;
        }

        .circle-text{
            width: 70px;
            position: relative;
            top: 5px;
            left: 50px;
            object-fit: contain;
        }

        .portrait{
            img {
                    position: relative;
                    top: 75px;
                    box-shadow: 20px 20px #fff;
                }

        } 
    }
}