@use './variables' as *;

.index-header{
    background-color: $primary;

    .wrapper{
        display: flex;
        align-items: center;

        h1,
        div{
            flex-basis: 50%;
        }

        h1::before{
            content: url(./../assets/circle-text.png);
            position: relative;
            left: 80px;
            top: 60px;
        }
    }
}