@use './variables' as *;
@use './typography' as *;

/* Portrait tablet and small desktops */
@media (max-width: 1000px) {
    .index-header .wrapper{
        flex-direction: column;  
        div{
            width: 75%;
            text-align: center;
        }

        .circle-text{
            top: 60px;
        }
    }

    .about{
        padding-bottom: 75px;
    }

    .bucket-list .wrapper{
        flex-direction: column;
        div{
            flex-basis: 100%;
        }

        .bucket-list-box1 img{
            top: 0;
        }

        .bucket-list-box3{
            order: 0;
            img{
                top: 0;
            }
        }

        .bucket-list-box2,
        .bucket-list-box4{
            text-align: center;
            padding: 50px 0;
        }
    }

    .journey .wrapper {
        .journey-box1,
        .journey-box2 {
            flex-basis: 45%;
        }
    }

    form{
        input{
            flex-basis: 100%;
        }

        input#name{
            margin-right: 0;
        }
    }    
}

/* Landscape phone to portrait tablet */
@media (max-width: 750px) {
    nav{
        height: 50px;
        ul{
            display: none;
        }

        li{
            padding: 0;
        }

        label{
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;
            margin-left: 25px;
            img{
                width: 20px;
                margin-left: 5px;
            }
        }

        input {
            position: absolute;
            left: -1000vw;
        }

        input:checked ~ ul {
            display: inline-block;
            background-color: $tertiary;
            position: relative;
            padding: 25px 75px 25px 25px;
            h2{
                display: none;
            }
        }
    }

    h1{
        font-size: 60px;
    }

    .index-header .wrapper{
        .circle-text{
            width: 53px;
            top: 45px;
            left: 25px;
        }   
    }

    .journey .wrapper{
        flex-direction: column;
        text-align: center;
        .journey-box1{
            margin-bottom: 40px;
        }
    }

    .banner {
        background-position: 60% 0;
    }

    .gallery ul{
        flex-direction: column;
        li{
            flex-basis: 100%;
            margin-bottom: 50px;
        }
    }

    .navigation{
        .nav-box{
            flex-basis: 100%;
        }
    }

    .left-box,
    .right-box{
        flex-basis: 100%;
    }

    .blog-sections .comment-photo{
        flex-basis: 30%;
    }
}

/* Landscape phones and down */
@media (max-width: 500px) {
    .wrapper{
        width: 95%;
    }
    .header{
        height: 25vh;
    }

    h1{
        font-size: 38px;
    }
    
    h2 {
        font-size: 29px;
    }

    h3 {
        font-size: 26px;
    }

    .index-header .wrapper {
        .circle-text {
            width: 50px;
            top: 30px;
            left: 15px;
        }
    }

    .sections{
        padding: 50px 0;
    }

    .blog-sections{
        .blog-comment{
            flex-wrap: wrap;
            justify-content: center;
        }

        .comment-text{
            flex-basis: 100%;
        }
        .comment-photo{
            flex-basis: 80%;
        }
    }    
}