@use './variables' as *;

section{
    padding: 100px 0;
}

.about{
    background-color: $quaternary;
    text-align: center;
}

.bucket-list{
    .wrapper{
        display: flex;
        flex-wrap: wrap;
        div{
            flex-basis: 50%;
        }
    }   
}

.journey{
    background-color: $quaternary;
    .wrapper{
        display: flex;
        justify-content: space-between;

        .journey-box1{
            flex-basis: 20%;
        }

        .journey-box2{
            flex-basis: 70%;
        }
        
        img{
            box-shadow: 10px 10px $tertiary;
        }
    }
}

.banner{
    background-image: url(./../../../assets/home-image-5.jpg);
    width: 100%;
}

.gallery{
    ul{
        display: flex;
        justify-content: space-between;

        li{
            flex-basis: 31%;
        }
    }
}

