@use './variables' as *;

section{
    padding: 85px 0;
}

.about{
    background-color: $quaternary;
    text-align: center;
    padding-bottom: 200px;
}

.bucket-list .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    div{
        flex-basis: 50%;
    }

    .bucket-list-box1 img{
        position: relative;
        top: -125px;
        box-shadow: 20px 20px $tertiary, -200px 20px $tertiary, -500px 20px $tertiary, -900px 20px $tertiary;
    }
    

    .bucket-list-box2{
        padding-left: 100px;
    }
        
    .bucket-list-box3{
        order: 1;
            img{
                position: relative;
                top: 105px;
                box-shadow: 20px 20px $primary, 200px 20px $primary, 500px 20px $primary, 900px 20px $primary;
            } 
        }

        .bucket-list-box4{
            text-align: right;
            padding-right: 100px;
        }
    }   


.journey{
    background-color: $quaternary;
    .wrapper{
        display: flex;
        justify-content: space-between;

        .journey-box1{
            flex-basis: 20%;
        }

        .journey-box2{
            flex-basis: 70%;
        }
        
        img{
            box-shadow: 10px 10px $tertiary;
        }
    }
}

.banner{
    background-image: url(./../assets/home-image-5.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
}

.gallery{
    ul{
        display: flex;
        justify-content: space-between;
        padding: 0;
        li{
            flex-basis: 31%;
        }
    }
}

.navigation{
    background-color: $quaternary;
    .wrapper {
        display: flex;
        flex-wrap: wrap; 
    }
    
    .nav-box{
        flex-basis: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
                
        div{
            border-radius: 50%;
            background-color: $secondary;
            width: 40px;
            height: 40px;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        img{
            height: 50%;
            width: 50%;
        } 

        p{
            margin: 10px 0 50px 50px;
        }

        h3{
            margin: 0;
        }
    }
}


