@use './variables'as *;

@mixin fontStyle($fontFamily, $sizeValue, $textAlign, $lineHeight:null) {
    font-family: $fontFamily;
    font-size: $sizeValue;
    text-align: $textAlign;
    line-height: $lineHeight;
}

html{
    @include fontStyle($baseFont, 20px, left, 32px);
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $quinary;
}

p{
    letter-spacing: 0px;
    text-transform: none;
}


h1{
    @include fontStyle($headerFont, 80px, left, 92px);
    color: $quaternary;
}

h2{
    @include fontStyle($headerFont, left, 42px);
}

h3{
    @include fontStyle($headerFont, left, 32px);
}

h4{
    @include fontStyle($headerFont, left, 24px);
}

a{
    text-decoration: none;
    color: inherit;
}

.menu{
    color: $quaternary;
    
    a{
        @include fontStyle($baseFont, 20px, right, 29px);
        font-weight: 700;
        
        &:hover {
                color: $secondary;
            }
    }

   
}

.button{
    @include fontStyle($headerFont, 20px, center);
    text-transform: uppercase;
}

.blog-link{
    @include fontStyle($baseFont, 20px, left, 32px);
    color: $tertiary;
    text-transform: none;
    font-weight: bold;
}

.left-box{
    a{
        text-transform: none;
        font-weight: 700;
    }
}
