html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Monstserrat", sans-serif;
  font-size: 20px;
  text-align: left;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1f1f1f;
}

p {
  letter-spacing: 0px;
  text-transform: none;
}

h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 80px;
  text-align: left;
  line-height: 92px;
  color: #f6f6f6;
}

h2 {
  font-family: "Abril Fatface", cursive;
  font-size: left;
  text-align: 42px;
}

h3 {
  font-family: "Abril Fatface", cursive;
  font-size: left;
  text-align: 32px;
}

h4 {
  font-family: "Abril Fatface", cursive;
  font-size: left;
  text-align: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu {
  color: #f6f6f6;
}
.menu a {
  font-family: "Monstserrat", sans-serif;
  font-size: 20px;
  text-align: right;
  line-height: 29px;
  font-weight: 700;
}
.menu a:hover {
  color: #e4a436;
}

.button {
  font-family: "Abril Fatface", cursive;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.blog-link {
  font-family: "Monstserrat", sans-serif;
  font-size: 20px;
  text-align: left;
  line-height: 32px;
  color: #709b6b;
  text-transform: none;
  font-weight: bold;
}

.left-box a {
  text-transform: none;
  font-weight: 700;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.button {
  background-color: #e4a436;
  padding: 15px 20px;
}

nav {
  background-color: #345231;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  margin: 0;
}
nav ul li {
  padding: 0 20px;
}
nav ul h2 {
  margin: 0;
}

.index-header {
  background-color: #345231;
  padding-top: 20px;
}
.index-header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.index-header .wrapper div {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  position: flex;
}
.index-header .wrapper h1 {
  display: inline-block;
}
.index-header .wrapper .circle-text {
  width: 70px;
  position: relative;
  top: 5px;
  left: 50px;
}
.index-header .wrapper .portrait img {
  position: relative;
  top: 75px;
  -webkit-box-shadow: 20px 20px #fff;
          box-shadow: 20px 20px #fff;
}

section {
  padding: 85px 0;
}

.about {
  background-color: #f6f6f6;
  text-align: center;
  padding-bottom: 200px;
}

.bucket-list .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bucket-list .wrapper div {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.bucket-list .wrapper .bucket-list-box1 img {
  position: relative;
  top: -125px;
  -webkit-box-shadow: 20px 20px #709b6b, -200px 20px #709b6b, -500px 20px #709b6b, -900px 20px #709b6b;
          box-shadow: 20px 20px #709b6b, -200px 20px #709b6b, -500px 20px #709b6b, -900px 20px #709b6b;
}
.bucket-list .wrapper .bucket-list-box2 {
  padding-left: 100px;
}
.bucket-list .wrapper .bucket-list-box3 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.bucket-list .wrapper .bucket-list-box3 img {
  position: relative;
  top: 105px;
  -webkit-box-shadow: 20px 20px #345231, 200px 20px #345231, 500px 20px #345231, 900px 20px #345231;
          box-shadow: 20px 20px #345231, 200px 20px #345231, 500px 20px #345231, 900px 20px #345231;
}
.bucket-list .wrapper .bucket-list-box4 {
  text-align: right;
  padding-right: 100px;
}

.journey {
  background-color: #f6f6f6;
}
.journey .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.journey .wrapper .journey-box1 {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}
.journey .wrapper .journey-box2 {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}
.journey .wrapper img {
  -webkit-box-shadow: 10px 10px #709b6b;
          box-shadow: 10px 10px #709b6b;
}

.banner {
  background-image: url(./../assets/home-image-5.jpg);
  width: 100%;
  height: 400px;
  background-size: cover;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
.gallery ul li {
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
}

.navigation {
  background-color: #f6f6f6;
}
.navigation .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.navigation .wrapper .nav-box {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation .wrapper .nav-box div {
  border-radius: 50%;
  background-color: #e4a436;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navigation .wrapper .nav-box div img {
  height: 50%;
  width: 50%;
}
.navigation .wrapper .nav-box p {
  margin: 10px 0 50px 50px;
}
.navigation .wrapper .nav-box h3 {
  margin: 0;
}

.copyright {
  background-color: #1f1f1f;
  color: #f6f6f6;
  text-align: center;
  margin: 0;
}

.blog-header {
  background-image: url(./../assets/blog-image-1.jpg);
  background-size: cover;
  height: 50vh;
}
.blog-header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}
.blog-header h1 {
  margin: 0;
  position: relative;
  top: 16px;
}

.blog-sections {
  background-color: #f6f6f6;
  padding: 110px 0;
}
.blog-sections .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog-sections .wrapper section,
.blog-sections .wrapper .blog-comment {
  padding: 30px;
}
.blog-sections .wrapper .comments {
  padding: 0;
}
.blog-sections .wrapper .blog-post,
.blog-sections .wrapper .blog-comment2 {
  border-bottom: #709b6b 4px solid;
}
.blog-sections .wrapper .blog-comment,
.blog-sections .wrapper .blog-post {
  margin-bottom: 20px;
  background-color: #fff;
}
.blog-sections .wrapper .blog-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog-sections .wrapper .comment-photo {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  padding-right: 20px;
}
.blog-sections .wrapper .comment-photo img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 0 0;
     object-position: 0 0;
}
.blog-sections .wrapper .comment-text {
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
}
.blog-sections .wrapper .comment-text p {
  margin: 0;
}
.blog-sections .wrapper ul {
  list-style: disc;
}
.blog-sections .wrapper ul p {
  margin: 0;
}

.left-box {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}
.left-box section {
  background-color: #fff;
  margin-bottom: 20px;
}
.left-box a,
.left-box p {
  display: inline;
}

.right-box {
  -ms-flex-preferred-size: 67%;
      flex-basis: 67%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
form input,
form textarea,
form button {
  border: none;
  margin-bottom: 20px;
}
form button,
form textarea {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
form input,
form textarea {
  padding: 25px 40px;
}
form input {
  -ms-flex-preferred-size: calc(50% - 10px);
      flex-basis: calc(50% - 10px);
}
form input#name {
  margin-right: 20px;
}

.contact-header {
  background-image: url(./../assets/contact-image-1.jpg);
  background-size: cover;
  height: 50vh;
}
.contact-header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}
.contact-header h1 {
  margin: 0;
  position: relative;
  top: 16px;
}

.contact-sections {
  background-color: #f6f6f6;
  padding: 110px 0;
}
.contact-sections .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-sections .wrapper section {
  padding: 25px;
}
.contact-sections ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 100%;
}
.contact-sections li {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  margin-right: 30px;
}
.contact-sections li img {
  -o-object-fit: contain;
     object-fit: contain;
}
.contact-sections section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contact-sections section p {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 0;
}
.contact-sections section a {
  margin-bottom: 10px;
}